AZURE_OPENAI_API=X
AZURE_OPENAI_ENDPOINT=https://trustlens-openai.openai.azure.com/

AZURE_OPENAI_DEPLOYMENT=gpt-4o-mini
AZURE_EMBEDDING_DEPLOYMENT=embedding-model

AZURE_SEARCH_ENDPOINT=https://trustlensearch.search.windows.net
AZURE_SEARCH_KEY=X
AZURE_SEARCH_INDEX=rag-final